<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a signup form</h1>
    {% csrf_token %}
    <form method="POST">
        {% for field in signupform %}
         {{field.label}}
         {{field}}
        {% endfor %}
       
        
       
        <button type="submit">Signup</button>
        <a  href="{% url 'login' %}">login</a>
    </form>
</body>
</html>