<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Mohit Khyalia</title>

    <!-- Additional CSS Files -->
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet"  type="text/css" href="{% static 'css/templatemo-softy-pinko.css' %}">

    </head>
    <style media="screen">
    .mobile-container {
max-width: 480px;
margin: auto;
background-color: #555;
height: 500px;
color: white;
border-radius: 10px;
}

.topnav {
overflow: hidden;
background-color: white;
position: relative;
}

.topnav #myLinks {
display: none;
}

.topnav a {
color: black;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.img-kali{
  width:100%;
  height: 4%;



}

.min-box{
  background-color: white;
  padding-left: 3%;
  padding-top: 2%;
  padding-right: 3%;
  padding-bottom: 2%;
  border-radius: 1%;
}

.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}


    </style>

    <body>

    <!-- ***** Preloader Start *****
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
     -***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start *****-->
                        <a href="/" class="logo">

                            Mohit Khyalia
                        </a>
                         <!--***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" >Home</a></li>
                            <li><a href="/">About</a></li>
                            <li><a href="/blog">Blogs</a></li>
                            <li><a href="/#work-process">Tutorials</a></li>


                            <li><a href="#contact-us">Contact Us</a></li>
                        </ul>

                        <a href="javascript:void(0);" onclick="myFunction()"  class='icon menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <div class="topnav">
                        <div id="myLinks">
                          <a href="#welcome" >Home</a>
                          <a href="#features">About</a>
                          <a href="/blog">Blogs</a>
                          <a href="#work-process">Tutorials</a>


                        <a href="#contact-us">Contact Us</a>
                        </div>
                      </div>
                         <!--***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info" style="margin-top:5%;">
                            <h1>Kali Linux</h1>
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class=" min-box">
                  <h4>Installing Kali Linux</h4>
                  <br>
                  <p>
                    Installing Kali Linux (single boot) on your computer is an easy process. This guide will cover the basic install (which can be done on bare metal or guest VM), with the option of encrypting the partition. At times, you may have sensitive data you would prefer to encrypt using Full Disk Encryption (FDE). During the setup process you can initiate an LVM encrypted install on either Hard Disk or USB drives.
                  </p>
                  <br>
                  <p>
                    First, you’ll need compatible computer hardware. Kali Linux is supported on amd64 (x86_64/64-Bit) and i386 (x86/32-Bit) platforms. Where possible, we would recommend using the amd64 images. The hardware requirements are minimal as listed in the section below, although better hardware will naturally provide better performance. You should be able to use Kali Linux on newer hardware with UEFI and older systems with BIOS.
                  </p>
                  <br>
                  <p>
                    Our i386 images, by default use a PAE kernel, so you can run them on systems with over 4 GB of RAM
                  </p>
                  <p>
                    In our example, we will be installing Kali Linux in a fresh guest VM, without any existing operating systems pre-installed. We will explain other possible scenarios throughout the guide.
                  </p>
                  <br>
                  <h4>System Requirements</h4>
                  <br>
                  <p>
                    The installation requirements for Kali Linux will vary depending on what you would like to install and your setup. For system requirements:
                  </p>
                  <br>
                  <ul>

                    <li>* On the low end, you can set up Kali Linux as a basic Secure Shell (SSH) server with no desktop, using <strong>as little as 128 MB of RAM (512 MB recommended) and 2 GB of disk space.</strong> </li>
                    <li>* On the higher end, if you opt to install the default Xfce4 desktop and the kali-linux-default metapackage, you should really aim for at least 2 GB of RAM and 20 GB of disk space.</li>
                    <li>* When using resource-intensive applications, such as Burp Suite, they recommend at least 8 GB of RAM (and even more if it large web application!) or using simultaneous programs at the same time.</li>
                  </ul>
                  <br>
                  <h4>Installation Prerequisites</h4>
                  <br>
                  <p>
                    This guide will make also the following assumptions when installing Kali Linux:
                  </p>
                  <br>
                  <p>
                    <ul>
                      <li>Using the amd64 installer image.</li>
                      <li>CD/DVD drive / USB boot support.</li>
                      <li>Single disk to install to.</li>
                      <li>Connected to a network (with DHCP & DNS enabled) which has outbound Internet access.</li>
                    </ul>
                  </p>
                  <br>
                  <br>
                  <h4>Preparing for the Installation</h4>
                  <br>
                  <p>
                    <li>1.<a href="https://www.kali.org/get-kali/"> Download kali linux</a> ios file.</li>
                    <li>2.<a href="http://rufus.ie/en_US/"> Download Rufus</a> and install in the same system where you had downloaded ios file.</li>
                    <li>3. Using Rufus install kali in pendrive.</li>
                    <li>4. Backup any important information on the device to an external media.</li>
                    <li>5. Ensure that your computer is set to boot from CD/DVD/USB in your BIOS/UEFI.</li>

                  </p>
                  <br>
                  <h4>Kali Linux Installation Procedure</h4>
                  <br>
                  <h6>Boot</h6>
                  <br>
                  <p>
                    1. To start your installation, boot with your chosen installation medium. You should be greeted with the Kali Linux Boot screen. Choose either Graphical install or Install (Text-Mode). In this example, we chose the Graphical install.
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/boot-installer.png" class="img-kali" alt="kali GUI" />
                  </p>
                  <br>
                  <h4>Language</h4>
                  <br>
                  <p>
                    2. Select your preferred language. This will be used for both the setup process and once you are using Kali Linux.
                  </p>
                  <br>
                  <p>
                    <img style="width:2%;height:2%" src="https://www.kali.org/docs/installation/hard-disk-install/setup-language-1.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    3. Specify your geographic location.
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-language-2.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    4. Select your keyboard layout.
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-language-3.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <h4>Network</h4>
                  <br>
                  <p>
                    5. The setup will now probe your network interfaces, looks for a DHCP service, and then prompt you to enter a hostname for your system. In the example below, we’ve entered kali as our hostname.
                  </p>
                  <br>
                  <p>
                    Select your wifi and enter wifi-password
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-hostname-1.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    6. Just hit enter or You may optionally provide a default domain name for this system to use (values may be pulled in from DHCP or if there is an existing operating systems pre-existing).
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-hostname-2.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <h4>User Accounts</h4>
                  <p>
                    7. Next, create the user account for the system (Full name, username and a strong password).
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-user-1.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-user-2.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-user-3.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <h4>Clock</h4>
                  <br>
                  <p>
                    8. Next, set your time zone.
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-clock.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <h4>Disk</h4>
                  <br>
                  <p>
                    9. The installer will now probe your disks and offer you various choices, depending on the setup.
                  </p>
                  <br>
                  <p>
                    In our guide, we are using a clean disk, so we have four options to pick from. We will select Guided - the entire disk, as this is the single boot installation for Kali Linux, so we do not want any other operating systems installed, so we are happy to wipe the disk.
                  </p>
                  <br>
                  <p>
                    If there is an pre-existing data on the disk, you will have have an extra option (Guided - use the largest continuous free space) than the example below. This would instruct the setup not to alter any existing data, which is perfect for for dual-booting into another operating system. As this is not the case in this example, it is not visible.
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-partition-1.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    10. Select the disk to be partitioned.
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-partition-2.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    11. Depending on your needs, you can choose to keep all your files in a single partition - the default - or to have separate partitions for one or more of the top-level directories.
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-partition-3.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-partition-4.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-partition-4.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <p>
                    12. Next, you’ll have one last chance to review your disk configuration before the installer makes irreversible changes. After you click Continue, the installer will go to work and you’ll have an almost finished installation.

                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-partition-5.png" class="img-kali" alt="" />
                  </p>
                  <br>
                  <h4>Reboot</h4>
                  <br>
                  <p>
                    13. Finally, click Continue to reboot into your new Kali Linux installation.
                  </p>
                  <br>
                  <p>
                    <img src="https://www.kali.org/docs/installation/hard-disk-install/setup-reboot.png" class="img-kali" alt="" />
                  </p>
              </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area Start ***** -->




    <section class="section colored" id="contact-us">
        <div class="container">
           <!--***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">

                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                      <li><a href="#"><i class="fa fa-facebook"></i></a> <a href="https://www.instagram.com/mohitkhyalia_mk/" style="margin-left:4%;"><i class="fa fa-instagram"></i></a></li>
                      <p class="copyright">© 2013–2021 · Made with ❤️ in India</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->

                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->

                <!-- ***** Contact Form End ***** -->
            </div>


            <div class="">
              <div class="" style="width: 69%;margin-left:13%;margin-top:6%;margin-bottom:6%;">

              </div >


              <img class='logo-mk' src="{% static 'images/logo.jpg' %}" style="width: 69%;margin-left:13%;margin-top:6%;" alt="Mohit Khyalia"/>
            </div>

        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->



    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
      function myFunction() {

          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }

    </script>

    <!-- Bootstrap -->


    <!-- Plugins -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>

  </body>
</html>
