<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

</head>
<body>
    
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <img src="{% static 'PicsArt_06-18-10.02.55.jpg' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="POST">
        {% csrf_token %}
        
      <div class="fadeIn second">{% render_field signupform.username placeholder="Username" %}</div>
     
      
     
      <div class="fadeIn second" >{% render_field signupform.email placeholder="Email" required='required' %}</div>
      <div class="fadeIn third" >{% render_field signupform.password1 placeholder="Password" %}</div>
      
      <div class="fadeIn fourth"> {% render_field signupform.password2 placeholder="Re-Type" %}</div>
      <input type="submit" class="fadeIn fifth">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{% url 'login' %}">Have A Account?</a>
    </div>

  </div>
</div>
</body>
</html>